<%- include("header") %>
<div class="full-box">
  <div class="center">
    <h4>welcome</h4>
    <button
      type="button"
      class="btn btn-primary"
      onclick="window.location.href = '/login';"
    >
      Login
    </button>
    <button
      type="button"
      class="btn btn-primary"
      onclick="window.location.href = '/registration';"
    >
      Registration
    </button>
  </div>
</div>
<%- include("footer") %>
