<%- include("header") %>
<div class="full-box">
  <form action="/registration" method="post" class="center">
    <h4>Registration</h4>
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        name="email"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
        placeholder="Password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<%- include("footer") %>
